<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div>
        <h1>Testing Homepage</h1>
    </div>

    <div>
        <h2>POST Demo - Saved Responses</h2>
        
        <% if (post_responses.length > 0) { %>
            <% post_responses.forEach(response => { %>
                <h3 class="title"><%= response.title %></h3>
                <p class="snippet"><%= response.body %></p>
            <% }) %>
        <% } else { %>
            <p>There are no submissions to display.</p>
        <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>